<html>
    <head>

    </head>
    <body>
        <header>
            <div class="content">
                <nav >  
                    <div>
                        <ul class="mainmenu">
                            <li> <a href="#"> Product <i class="fas fa-caret-down"></i></a>
                                <ul class="submenu">
                                    <li> <a href="addproduct"> Add</a></li>
                                    <li> <a href="viewproduct"> View</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"> Product Type<i class="fas fa-caret-down"></i></a>
                                <ul class="submenu">
                                    <li> <a href="addproducttype"> Add</a></li>
                                    <li> <a href="viewproducttype"> View</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"> Customer<i class="fas fa-caret-down"></i> </a>
                                <ul class="submenu">
                                     <li> <a href="viewcustomer"> View</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"> Order<i class="fas fa-caret-down"></i></a>
                                <ul class="submenu">
                                    <li> <a href="vieworder"> View</a></li>
                                </ul>
                            </li>
                            <li> <a href="#"> Logout </a></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
    </body>
</html>