<html>

<head>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <style type="text/css">
        body {

            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-color: cadetblue;

        }

        .img1 {
            padding: 10px;
        }

        .img2 {
            padding: 10px;
        }

        .img3 {
            padding: 10px;
        }

        .img4 {
            padding: 10px;
        }

        .img6 {
            padding: 10px;
        }

        .img7 {
            padding: 10px;
        }

        .img8 {
            padding: 10px;
        }

        .img9 {
            padding: 10px;
        }

        .center {
            position: center;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
        }

        .btn:hover {
            background: #563434;
        }

        /*h3{
    text-align: center;
}

h4{
    text-align: center;
}*/
        .button {
            text-align: center;

        }

        .modal {
            border: 1px solid black;
            width: 350px;
            height: 330px;
            display: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: fixed;
            margin: auto;
            background-color: gray;
            padding: 10px;

        }

        .regModal {
            border: 1px solid black;
            width: 350px;
            min-height: 330px;
            display: none;

            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            background-color: gray;
            padding: 10px;

        }


        input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button[id=closebtn],
        button[name=btnregsubmit],
        input[name=btnsignin] {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 40%;
        }

        #mybtn {
            padding: 2px 10px;
            color: white;
            outline: none;
            border: none;
            font-size: 21px;
            background-color: transparent;
        }

        section {
            display: inline-block;
            width: 100%;
        }

        table {
            margin: auto;
        }
    </style>
    <header>
        <div class="content">


    </header>
    <div class="modal" id="myModal">
        <h1>Sign In</h1>
        <div class="modal-content">
            <form action="/btnAdminsignin" method="GET">

                <label>Email : </label>
                <input type="text" name="txtemail" required /><br><br>
                <label>Password :</label>
                <input type="password" name="txtpass" required /><br>
                <input type="submit" name="btnsignin" id="signinBtn" value="Sign In">

                <button id="closebtn">close</button><br>
                <!-- <a href="register">Create Account</a> -->
                <a href="javascript:void(0)" onclick='return showRegtrationModel()'>Create Account</a>
                <a href="javascript:void(0)" onclick='return changePasswordModel()'>Forgot Password</a>
            </form>

        </div>
    </div>
    <div class="regModal" id="registerationModal">
        <h1>Registration</h1>
        <div class="modal-content">
            <form action="/btnAdminregsubmit" method="POST">
                <label>First Name : </label>
                <input type="text" name="txtfn" required><br>
                <label>Last Name :</label>
                <input type="text" name="txtln" required><br>
                <label>Mobile No :</label>
                <input type="text" name="txtmn" required><br>
                <label>Email : </label>
                <input type="text" name="txtemail" required><br>
                <label>Password :</label>
                <input type="password" name="txtpass" required><br>
                <input type="submit" name="btnregsubmit" value="Submit">
                <a href="back">Back</a>
            </form>
        </div>
    </div>

    <div class="modal" id="changePassModel">
        <h1>Sign In</h1>
        <div class="modal-content">
            <form action="/changePassword" method="GET">

                <label>Email : </label>
                <input type="text" name="txtemail" required /><br><br>
                <label>Changes Password :</label>
                <input type="password" name="txtpass" required /><br>
                <input type="submit" name="btnsignin" id="signinBtn" value="Save">

                <button id="closebtn">close</button><br>
            </form>

        </div>
    </div>
    <script>

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("mybtn");
        var closebtn = document.getElementById("closebtn");
        //var closeSignIn = document.getElementById("signinBtn")
        modal.style.display = "block";
        function openpopup() {
            modal.style.display = "block";
        }
        closebtn.onclick = function () {
            modal.style.display = "none";
        }
        // closeSignIn.onclick = function () {
        //     modal.style.display = "none";
        // }
        function showInput() {
            document.getElementById("registerationModal").style.display = "none"
            return confirm("Thank you for register");
        }
        function showRegtrationModel() {
            modal.style.display = "none";
            var modal1 = document.getElementById("registerationModal");
            modal1.style.display = "block";
        }
        function changePasswordModel() {
            modal.style.display = "none";
            var modal1 = document.getElementById("changePassModel");
            modal1.style.display = "block";
        }
    </script>
</body>

</html>