<html>
    <head>
        <link rel="stylesheet" href="./css/homepage.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
    </head>
    <body>
        <footer>
            <div class="contact us">
                <a href="contactus">Contact Us</a>
                <a href="aboutus">About Us</a>
                <a href="help" >Help</a><br><br>
            
            <i class="fa fa-facebook fa-2x" aria-hidden="true" ></i>
            <i class="fa fa-google fa-2x" aria-hidden="true"></i>
            </div>
        </footer>
    </body>
</html>