<html>
    <head>
        <link rel="stylesheet" href="./css/homepage.css" type="text/css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            footer{
            margin-top: 21%;
            
            background-color:brown;
        }
        </style>
    </head>
    <body>
        <footer>
            <div class="contact us">
                <a href="contactus" style="margin-left: 48%;">Contact Us</a>
                <a href="aboutus" style="margin-left: 10px;">About Us</a>
                <a href="help" style="margin-left: 10px;">Help</a><br><br>
            
            <i class="fa fa-facebook fa-2x" aria-hidden="true" style="margin-left: 50%;"></i>
            <i class="fa fa-google fa-2x" aria-hidden="true" style="margin-left: 10px;"></i>
            </div>
        </footer>
    </body>
</html>