<html>

<head>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


</head>

<body>
    <style type="text/css">
        body {

            background-size: cover;
            background-attachment: fixed;
            background-position: center;
            background-color: cadetblue;

        }

        .img1 {
            padding: 10px;
        }

        .img2 {
            padding: 10px;
        }

        .img3 {
            padding: 10px;
        }

        .img4 {
            padding: 10px;
        }

        .img6 {
            padding: 10px;
        }

        .img7 {
            padding: 10px;
        }

        .img8 {
            padding: 10px;
        }

        .img9 {
            padding: 10px;
        }

        .center {
            position: center;
        }

        .btn {
            display: inline-block;
            background: #ff523b;
            color: #fff;
            padding: 8px 30px;
            margin: 30px 0;
            border-radius: 30px;
            justify-content: center;
            align-items: center;
        }

        .btn:hover {
            background: #563434;
        }

        /*h3{
    text-align: center;
}

h4{
    text-align: center;
}*/
        .button {
            text-align: center;

        }

        .modal {
            border: 1px solid black;
            width: 350px;
            height: 330px;
            display: none;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: fixed;
            margin: auto;
            background-color: gray;
            padding: 10px;

        }

        .regModal {
            border: 1px solid black;
            width: 350px;
            min-height: 330px;
            display: none;

            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            margin: auto;
            background-color: gray;
            padding: 10px;

        }


        input {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button[id=closebtn],
        button[name=btnregsubmit],
        input[name=btnsignin] {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 40%;
        }

        #mybtn {
            padding: 2px 10px;
            color: white;
            outline: none;
            border: none;
            font-size: 21px;
            background-color: transparent;
        }

        section {
            display: inline-block;
            width: 100%;
        }

        table {
            margin: auto;
        }
    </style>
    <header>
        <div class="content">

            <nav>

                <div>
                    <ul class="mainmenu">

                        <li>
                            <input type="text" placeholder="Search..">
                        </li>
                        <li> <a href="home">Home</a></li>
                        <li> <a href="#"> Category </a>
                            <ul class="submenu" style="top: 10; left:8%;">
                                <li class="dropdown" style="width: 210px;"> <a href="#"> Home decor products</a>
                                    <ul style="top: 100%; left:50%;z-index: 1;">
                                        <li style="width: 150px;"><a> Bedsheets </a>
                                            <ul style="top: 100%; left:50%;z-index: 2;">
                                                <li style="width: 120px;"><a href="bdouble">Double</a></li>
                                                <li style="width: 120px;"><a href="bsmall">Small</a></li>
                                                <!-- <li style="width: 120px;"><a href="bking">King size</a></li>
                                                <li style="width: 120px;"><a href="bqueen">Queen size</a></li> -->
                                            </ul>
                                        </li>

                                        <li style="width:150px"><a> Duvet Covers </a>
                                            <ul style="top: 100%; left:50%;z-index: 2;">
                                                <li style="width: 120px;"><a href="ddouble">Double</a></li>
                                                <li style="width: 120px;"><a href="dsmall">Small</a></li>
                                                <!-- <li style="width: 120px;"><a href="dking">King size</a></li>
                                                <li style="width: 120px;"><a href="dqueen">Queen size</a></li> -->
                                            </ul>
                                        </li>
                                        <!-- <li style="width: 150px;"><a href="cusioncovers"> Cusion Covers</a></li> -->
                                        <li style="width: 150px;"><a href="curtains"> Curtains </a></li>
                                        <!-- <li style="width: 150px;"><a href="pillowcovers"> Pillow Covers </a></li>
                                        <li style="width: 150px;"><a href="quilts"> Quilts </a></li> -->
                                    </ul>
                                </li>
                                <li style="width:210px"> <a> Home Accessories </a>
                                    <ul style="top: 100%; left:50%;z-index: 1;">
                                        <li><a href="clock"> Clocks </a></li>
                                        <li><a href="mirrors"> Mirrors</a></li>
                                        <li><a href="candles"> Candles </a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li> <a href="newarrival">New Arrivals </a></li>
                        <!-- <li> <a href="myorder">My Order </a></li> -->
                        <li>

                            <button id="mybtn" onclick="openpopup()">Sign In</button>

                        </li>
                        <!-- <li> <a href="cart"><button><i class="fa fa-shopping-cart fa-2x"
                                        aria-hidden="true"></i></button></a></li> -->
                    </ul>
                </div>
            </nav>

    </header>
    <div class="modal" id="myModal">
        <h1>Sign In</h1>
        <div class="modal-content">
            <form action="/btnsignin" method="GET">

                <label>Email : </label>
                <input type="text" name="txtemail" required /><br><br>
                <label>Password :</label>
                <input type="password" name="txtpass" required /><br>
                <input type="submit" name="btnsignin" id="signinBtn" value="Sign In">

                <button id="closebtn">close</button><br>
                <!-- <a href="register">Create Account</a> -->
                <a href="javascript:void(0)" onclick='return showRegtrationModel()'>Create Account</a>
                <a href="forgotpassword">Forgot Password</a>
            </form>

        </div>
    </div>
    <div class="regModal" id="registerationModal">
        <h1>Registration</h1>
        <div class="modal-content">
            <form action="/btnregsubmit" method="POST">
                <label>First Name : </label>
                <input type="text" name="txtfn" required><br>
                <label>Last Name :</label>
                <input type="text" name="txtln" required><br>
                <label>Mobile No :</label>
                <input type="text" name="txtmn" required><br>
                <label>Email : </label>
                <input type="text" name="txtemail" required><br>
                <label>Password :</label>
                <input type="password" name="txtpass" required><br>
                <input type="submit" name="btnregsubmit" value="Submit">
                <a href="back">Back</a>
            </form>
        </div>
    </div>
    <script>

        var modal = document.getElementById("myModal");
        var btn = document.getElementById("mybtn");
        var closebtn = document.getElementById("closebtn");
        //var closeSignIn = document.getElementById("signinBtn")
        function openpopup() {
            modal.style.display = "block";
        }
        closebtn.onclick = function () {
            modal.style.display = "none";
        }
        // closeSignIn.onclick = function () {
        //     modal.style.display = "none";
        // }
        function showInput() {
            document.getElementById("registerationModal").style.display = "none"
            return confirm("Thank you for register");
        }
        function showRegtrationModel() {
            modal.style.display = "none";
            var modal1 = document.getElementById("registerationModal");
            modal1.style.display = "block";
        }
    </script>
</body>

</html>