<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in </title>
    <link rel="stylesheet" href="./css/homepage.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        body{
            background-image: url(/images/bgimage2.png);
            background-size: 1500px 650px;  
            background-repeat: no-repeat; 
        }
        footer{
            margin-top: 16%;
            
            background-color:brown;
        }
        .maincontainer{
            margin-left: 65%;
            margin-top: 10%;
        
        }
        </style>
</head>

<body>
  
    <div class="maincontainer">
        <div class="product-title"><h1>Sign in </h1></div>
        <div class="input">
         <form action="/submitsignin" method="POST">
          <label>Username</label>
          <input type="text" name="name" placeholder="enter username" /></br><br>
          <label>Password</label>
          <input type="text" name="password" placeholder="enter password" /></br><br>
          <button type="submit">Submit</button>
        </form>
       </div>
        
    </div>
    <footer>
        <div class="contact us">
            <a href="contactus" style="margin-left: 48%;">Contact Us</a>
            <a href="aboutus" style="margin-left: 10px;">About Us</a>
            <a href="help" style="margin-left: 10px;">Help</a><br><br>
        
        <i class="fa fa-facebook fa-2x" aria-hidden="true" style="margin-left: 50%;"></i>
        <i class="fa fa-google fa-2x" aria-hidden="true" style="margin-left: 10px;"></i>
        </div>
    </footer>
</body>

</html>