body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(img3.png);

}

header nav {
    padding: 1.5rem 0; 
    text-align: center;
  
}
nav{
    width: 100%;
    background:black ;
}
nav ul{
    margin: 0;
    padding: 0;
    margin-right: 20px;
}
nav ul li{
    background: black;
    position: relative;
    list-style: none;
    display: inline-block;
}
nav ul li a{
    display: block;
    padding: 0 40px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 20px;
    
}
nav ul ul{
    position: absolute;
    top:30px;
    display: none; 
}
nav ul li:hover > ul{
    display: block;
}
nav ul ul li{
    width: 100px;
    float: none;
    display: list-item;
    position: relative;
    font-size: 20px;
    padding: 0 10px;
}
nav ul ul li a{
    display: block;
    padding: 5px 5px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    font-size: 20px;
    text-align: right;
}

nav .mainmenu>li{
    display: inline-block;
    margin-right: 5px;
}
nav a{
    margin: 0;
    text-align: right;
    padding: 5px 10px 5px 10px;
    background:black;
    list-style: none;
    color:white;
    text-decoration:none;
    position: relative;
    display: block; 
}
nav :hover>a {
    background:pink;
    cursor: pointer;
    
}
nav .submenu{
    position: absolute;
    display: none;
    list-style: none;
    justify-content: space-around;

}
.box-4col{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
}
.box-4col .box{
    display: inline-block;
    padding: 15px;
    box-sizing: border-box;
   
}
.box-in {
    text-align: center;
    color: black;
    box-shadow: 0 0 12px 3px #eee;
    background: #f7f7f7;
    padding-bottom: 13px;
}
.contact.us {
    background: #f12a2a;
    display: flex;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;

}
.contact.us a{
  width: 33.33%;
}
.contact.us a:nth-child(1){
    text-align: right;
  }
  .contact.us a:nth-child(2){
    text-align: center;
  }
  .contact.us i {
    width: calc(50% - 20px);
    margin: 10px;
}
.contact.us i.fa.fa-facebook.fa-2x {
   text-align: right;
}
.box-in h3 {
    padding: 0 0 20px;
}
.box-in h4 {
    margin: 0;
}
.box-in a{
    text-decoration: none;
    color: black;
}
.thank-box {
    max-width: 500px;
    width: 100%;
    background: #404040;
    padding: 30px;
    margin: 60px auto;
    text-align: center;
    color: #fff;
}
.thank-box a{
    color: #fff;
}
.modal {
    margin: auto!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal {
    border: 0!important;
    padding: 20px!important;
    box-shadow: 0 0 12px 0px #e8e8e8!important;
    background: #fff!important;
}
.modal a {
    color: green;
    /* text-decoration: none; */
    padding: 8px;
    font-size: 13px;
}
button[id=closebtn],button[name=btnregsubmit],
input[name=btnsignin] {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 40%;
}
.btn {
    background: #f12a2a!important;
    width: calc(100% - 24px)!important;
}

.nm-tag{
    color: #fff;
    background-color: pink;
    padding: 3px;
}
.contact.us a {
    color: #fff;
    margin-top: 10px;
    display: inline-block;
}
.table h2 {
    color: #000!important;
    font-weight: bold;
}
table th {
    background: #f12a2a;
    color: #fff;
    font-weight: normal;
    border-color: #fff;
    padding: 10px 10px;
}
button.edit, button.delete{
    background: #dddddd;
    border: 0!important;padding: 5px;
    border: 1px solid #404040;
    border-radius: 3px;
}
table tr:nth-child(even) {
    background-color: #f8f9fd!important;
}
table td{
    padding: 10px;
}